<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chaturvedi.financemanager"
    android:versionCode="81"
    android:versionName="3.2.7" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.chaturvedi.financemanager.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.chaturvedi.financemanager.StartupActivity"> </activity>
        <activity android:name="com.chaturvedi.financemanager.SetupActivity"> </activity>
        <activity android:name="com.chaturvedi.financemanager.BanksSetupActivity"> </activity>
        <activity android:name="com.chaturvedi.financemanager.ExpenditureSetupActivity"> </activity>
        <activity 
            android:name="com.chaturvedi.financemanager.SummaryActivity" 
            android:label="@string/app_name" >
        </activity>
        <activity 
            android:name="com.chaturvedi.financemanager.TransactionsActivity"
            android:label="@string/label_transactions"
            android:parentActivityName="com.chaturvedi.financemanager.SummaryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chaturvedi.financemanager.SummaryActivity" />
        </activity>
        <activity 
            android:name="com.chaturvedi.financemanager.TemplatesActivity"
            android:label="@string/label_templates"
            android:parentActivityName="com.chaturvedi.financemanager.TransactionsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chaturvedi.financemanager.SummaryActivity" />
        </activity>
        <activity 
            android:name="com.chaturvedi.financemanager.EditActivity"
            android:label="@string/label_edit"
            android:parentActivityName="com.chaturvedi.financemanager.SummaryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chaturvedi.financemanager.SummaryActivity" />
        </activity>
        <activity 
            android:name="com.chaturvedi.financemanager.EditWalletBalanceActivity"
            android:label="@string/label_edit"
            android:parentActivityName="com.chaturvedi.financemanager.EditActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chaturvedi.financemanager.EditActivity" />
        </activity>
        <activity 
            android:name="com.chaturvedi.financemanager.EditBanksActivity"
            android:label="@string/label_edit"
            android:parentActivityName="com.chaturvedi.financemanager.EditActivity"> 
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chaturvedi.financemanager.EditActivity" />
        </activity>
        <activity 
            android:name="com.chaturvedi.financemanager.EditExpTypesActivity"
            android:label="@string/label_edit"
            android:parentActivityName="com.chaturvedi.financemanager.EditActivity"> 
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chaturvedi.financemanager.EditActivity" />
        </activity>
        <activity android:name="com.chaturvedi.financemanager.EditExpenditureTypesActivity"> </activity>
        <activity 
            android:name="com.chaturvedi.financemanager.StatisticsActivity"
            android:label="@string/label_statistics"
            android:parentActivityName="com.chaturvedi.financemanager.SummaryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chaturvedi.financemanager.SummaryActivity" />
        </activity>
        <activity 
            android:name="com.chaturvedi.financemanager.SettingsActivity"
            android:label="@string/label_settings"
            android:parentActivityName="com.chaturvedi.financemanager.SummaryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chaturvedi.financemanager.SummaryActivity" />
        </activity>
        <activity 
            android:name="com.chaturvedi.financemanager.HelpActivity"
            android:label="@string/label_help"
            android:parentActivityName="com.chaturvedi.financemanager.SummaryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chaturvedi.financemanager.SummaryActivity" />
        </activity>
        <activity 
            android:name="com.chaturvedi.financemanager.AboutActivity"
            android:label="@string/label_aboutDeveloper"
            android:parentActivityName="com.chaturvedi.financemanager.SummaryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chaturvedi.financemanager.SummaryActivity" />
        </activity>
        <activity 
            android:name="com.chaturvedi.financemanager.ExtrasActivity"
            android:label="@string/label_extras"
            android:parentActivityName="com.chaturvedi.financemanager.SummaryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chaturvedi.financemanager.SummaryActivity" />
        </activity>
        <receiver android:name="com.chaturvedi.financemanager.SmsReceiver" >
            <intent-filter android:priority="100" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
		</receiver>
    </application>

</manifest>
